.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}
.header-container h2 {
  align-self: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 2.2rem;
}
header button {
  align-self: center;
  all: unset;
  margin: 0 0.3rem;
}
header button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
/* nav:last-of-type {
  display: flex;
  justify-content: flex-end;
} */
.none {
  display: none;
}
.hidden {
  visibility: hidden;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 450px;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 5px 5px 10px #999;
  /* border: solid black 1px; */
}
.book-card > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: none;
}
.book-title {
  flex-wrap: wrap;
  pointer-events: none;
}
.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fefefe;
  margin: auto;
  padding: 2rem;
  width: 300px;
  box-shadow: 8px 10px 5px -2px rgba(0, 0, 0, 0.9);
}
.modal-welcome {
  margin: 0;
  margin-bottom: 1rem;
}
.affirmation {
  margin: 0;
  font-size: large;
}
.affirmation + p {
  margin-bottom: 0;
  text-align: center;
}
.modal-content div {
  display: flex;
  justify-content: space-between;
}
.modal-content button {
  height: fit-content;
  align-self: flex-start;
}
.modal-content input {
  margin-bottom: 1rem;
}
.msg {
  margin: 0 0.5rem 0 0;
}
